<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CourseManagementSystem.Properties.Settings.connectionString"
            connectionString="Provider=SQLNCLI11;Data Source=LAPTOP-KNJPVQ35\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=CourseManagementSystem"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>